<h1><%= customer.name %></h1>
<hr>
<h3>Email: <%= customer.email %></h3>
<h4>State: <%= customer.state %></h4>
<hr>
<table class="table table-striped">
  <tr>
    <th>
      Symbol
    </th>
    <th>
      Number of Shares
    </th>
    <th>
      Current Price
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% _.each(customer.stocks, function(stock){ %>
  <tr data-id="<%=stock.symbol %>" data-model="stock">
    <td><%=stock.symbol %></td>
    <td><%=stock.number_of_shares %></td>
    <td><%=stock.current_price %></td>
    <td><a href="/stock/show/<%=stock.id %>">Show</a> </td>
    <td><a href="/stock/edit/<%=stock.id %>">Edit</a> </td>
    <td><a href="/stock/destroy/<%=stock.id %>">Delete</a> </td>
  </tr>
  <% }); %>
</table>
<form class="form-control" action="/stock/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner">
  <div class="form-group">
    <input class="form-control" type="submit" value="Add stock">
  </div>
</form>
